body {
	color: black;
	font-family: sans-serif;
}

p{
	display: inline-block;
	margin: 0 0 10 0;
}

h1{
	font-size: 3rem;
	margin: 0;
}

.container{
	text-align: center;
}

.chart-body{
	height: 75vh;
	width: 180vh;
	margin: 0 auto;
}

.dropdown{
	margin-right: 5px;
}