<html>

<head>
    <script src='static/js/controller.js'></script>
    <script src='static/js/lib/Chart.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href='/static/style.css' />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="col-md-12 text-center">
        <h1>Det är
            <p id="degrees">{{ degrees }}</p>&#8451; ute!</h1>
        <div class="btn-group">
            <div class="dropdown">
                <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="pointsDropDown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Antal punkter:
                    <p id="noOfPoints" style="margin:0">30</p>
                </button>
                <div id="pointsDropDownList" class="dropdown-menu" aria-labelledby="pointsDropDown">
                    <a class="dropdown-item" href="#">20</a>
                    <a class="dropdown-item" href="#">30</a>
                    <a class="dropdown-item" href="#">50</a>
                    <a class="dropdown-item" href="#">70</a>
                    <a class="dropdown-item" href="#">100</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="intervalDropDown" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Intervall (min):
                    <p id="intervalMin" style="margin:0">2</p>
                </button>
                <div id="intervalDropDownList" class="dropdown-menu" aria-labelledby="intervalDropDown">
                    <a class="dropdown-item" href="#">2</a>
                    <a class="dropdown-item" href="#">4</a>
                    <a class="dropdown-item" href="#">10</a>
                    <a class="dropdown-item" href="#">30</a>
                    <a class="dropdown-item" href="#">60</a>
                </div>
            </div>
        </div>
        <div class="chart-body">
            <canvas id="myChart"></canvas>
        </div>
    </div>



</body>

<script>
    let noOfPoints = 30;
    let intervalMinute = 2;

    updateChart();
    setInterval(() => {
        updateChart();
    }, 10000);

    $('#pointsDropDownList a').click(function () {
        noOfPoints = $(this).text();
        $('#noOfPoints').html(noOfPoints);
        updateChart();
    });

    $('#intervalDropDownList a').click(function () {
        intervalMinute = $(this).text();
        $('#intervalMin').html(intervalMinute);
        updateChart();
    });

    var canvas = document.getElementById('myChart');
    var data = {
        labels: [],
        datasets: [
            {
                label: "Temperatur",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 5,
                pointHitRadius: 10,
                data: [],
            }
        ]
    };

    async function updateChart() {
        var newTemps = await updateTempChart(noOfPoints, intervalMinute);
        myLineChart.data.labels = newTemps.times;
        myLineChart.data.datasets[0].data = newTemps.temps;
        myLineChart.update();
    }

    var options = {
        showLines: true,
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Grader'
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Tid'
                }
            }],
        }
    };

    var myLineChart = Chart.Line(canvas, {
        data: data,
        options: options
    });

</script>

</html>